environment: docker

redis:
  enabled: true
  host: redis
  port: 6379
  db: 0
  password: null

minio:
  endpoint: minio:9005
  access_key: "${MINIO_ROOT_USER}"
  secret_key: "${MINIO_ROOT_PASSWORD}"
  secure: false

elasticsearch:
  hosts:
    - "http://elasticsearch:9200"
  username: null
  password: null

database:
  host: mysql
  port: 3306
  user: root
  password: "${MYSQL_ROOT_PASSWORD}"
  database: "${MYSQL_DATABASE}"

security:
  secret_key: "${SECRET_KEY}"
  encryption_key: "${ENCRYPTION_KEY}"

admin:
  username: "admin"
  email: "admin@example.com"
  password: "${ADMIN_PASSWORD}"
  create_on_startup: true
  reset_password_if_exists: true
