environment: development

redis:
  enabled: true
  host: localhost
  port: 6379
  db: 0
  password: null

minio:
  endpoint: localhost:9005
  access_key: ${MINIO_ROOT_USER}
  secret_key: ${MINIO_ROOT_PASSWORD}
  secure: false

elasticsearch:
  hosts:
    - "http://localhost:9200"
  username: elastic
  password: your-es-password

database:
  host: localhost
  password: "your-db-password"
