environment: testing

minio:
  endpoint: localhost:9000
  access_key: minioadmin
  secret_key: minioadmin
  secure: false
  # 测试环境不需要公网地址
  public_endpoint:

elasticsearch:
  hosts:
    - "http://localhost:9200"

database:
  database: novamind_test
